[submodule "backend"]
	path = backend
	url = https://github.com/protein-master-project/protein-master.git
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/protein-master-project/front_end.git
	branch = main
